@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;700&display=swap');

/*
font-family: 'Dosis', sans-serif;
*/


/*
Resetar os estilos
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}


/*Começo da estilização do site*/
body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid #f73e3e;
}

.menu-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 62px;
}

.item-menu-cabecalho {
    color: #f73e3e;
    font-size: 24px;
    transition: 0.4s;
    flex-grow: 1;
    transition: 0.5s;
}


.item-menu-cabecalho:hover {
    color: rgba(0, 0, 0, 0.67);
}

#inicio {
    display: flex;
    justify-content: space-around;

}

#inicio div img {
    flex-direction: row;
    align-items: center;
    width: 80%;
}


#sobre {
    display: flex;
    justify-content: space-around;
    padding: 10%;
}


#projetos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#projetos h2 {
    display: flex;
    justify-content: center;
}


.button-projetos {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: rgb(32, 119, 196);
}

.link-projetos {
    background-color: #f73e3e;
    width: 250px;
    height: 90px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 24px;
    margin: 10px;
    color: #b0bfd8;
    transition: 0.4s;
}

.link-projetos a {
    margin: 10px;
    color: #ffffff;
}

.link-projetos a:hover {
    color: #000000;
}

#contato {
    display: flex;
    justify-content: space-around;
    padding: 10%;
}


.copyright {
    color: #f73e3e;
    font-size: 16px;
    padding: 22px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.copyright:hover {
    color: #000000;

}